# Ігнорування файлів бази даних
db.json

# Ігнорування тимчасових файлів Python
__pycache__/
*.py[cod]
*$py.class

# Ігнорування віртуального оточення
venv/
.env

# Ігнорування файлів конфігурації редакторів та IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
